<!DOCTYPE html>
<html>

<head>
  <title>Pappu AI - A Tamizh Digital Assistant</title>
  <meta charset="UTF-8">
</head>

<body>
  <h1>Pappu AI - A Tamizh Digital Assistant</h1>
  <div>
    <button id="speak-button" onclick="toggleRecording()">Speak</button> <br>
    <button onclick="predefined_text('மணி எத்தன')">மணி எத்தன?</button><br>
    <button onclick="predefined_text('சரியான மணி எத்தனை')"> சரியான மணி எத்தன?</button><br>
    <input id="echo_text" >
    <button onclick="echo()">Echo</button>
  </div>
  <audio id="audio-player"></audio>
  <div id="output"></div>
  <script>
    let recorder;
    chunks = [];
    const speakButton = document.getElementById('speak-button');
    const audioPlayer = document.getElementById('audio-player');
    let isRecording = false;
    i = 1;
    function ehco(){

    }
    function predefined_text(text) {
      const xhr = new XMLHttpRequest();
      xhr.open('GET', `/playback?pre_defined=${text}`,);
      // save resu to output

      xhr.responseType = 'blob';

      xhr.onload = function () {
        if (this.status == 200) {
          var blob = this.response;
          var audio = new Audio(URL.createObjectURL(blob));
          audio.play();
        }
      };
      xhr.send();
    }
    function toggleRecording() {
      if (isRecording) {
        // stop recording
        recorder.stop();
        speakButton.innerText = 'Processing';
        speakButton.disabled = true;
        speakButton.classList.remove('recording');
        isRecording = false;
        if (1) {
          // create audio URL and play the current recording
          recorder.onstop = e => {
            const blob = new Blob(chunks, { type: 'audio/webm; codecs=opus' });
            const url = URL.createObjectURL(blob);
            // send recording to server
            const formData = new FormData();
            formData.append('audio', blob, 'recording.webm');
            const xhr = new XMLHttpRequest();
            xhr.open('POST', '/playback',);
            xhr.send(formData);
            // save resu to output
            xhr.responseType = 'blob';

            xhr.onload = function () {
              if (this.status == 200) {
                var blob = this.response;
                var audio = new Audio(URL.createObjectURL(blob));
                audio.play();
              }
              speakButton.innerText = 'Speak';
              speakButton.disabled = false;
            };
            chunks = [];
          };
          recorder.stop();

        }
        else {
          alert("No recording found");
        }

      } else {
        // start recording
        navigator.mediaDevices.getUserMedia({ audio: true })
          .then(stream => {
            recorder = new MediaRecorder(stream);
            recorder.ondataavailable = e => chunks.push(e.data);
            recorder.start();
          })
          .catch(console.error);
        speakButton.innerText = 'Stop';
        speakButton.classList.add('recording');
        isRecording = true;
      }
    }


    function echo(input) {
      if (!input){
        input= echo_text.value;
      }
      if (!input){
        input='yes';
      }
      // Check if speech synthesis is supported by the browser
      if ('speechSynthesis' in window) {
        // Create a new instance of SpeechSynthesisUtterance
        const msg = new SpeechSynthesisUtterance();

        // Set the text to speak
        msg.text = input;
        msg.lang = 'ta-IN';

        // Speak the text
        window.speechSynthesis.speak(msg);
      }
      else{
        alert('Not supported; Try canary version')
      }
      
    }
  </script>
  <style>
    .recording {
      background-color: red;
    }
  </style>
</body>

<a href="https://github.com/SmartManoj/Pappu-AI">Source v1.1</a> 

</html>

<!-- Default Statcounter code for Pappu AI
https://Pappu AI.pythonanywhere.com/ -->
<script type="text/javascript">
  var sc_project = 12860841;
  var sc_invisible = 0;
  var sc_security = "d3600372";
  var scJsHost = "https://";
  document.write("<sc" + "ript type='text/javascript' src='" +
    scJsHost +
    "statcounter.com/counter/counter.js'></" + "script>");
</script>
<noscript>
  <div class="statcounter"><a title="Web Analytics" href="https://statcounter.com/" target="_blank"><img
        class="statcounter" src="https://c.statcounter.com/12860841/0/d3600372/0/" alt="Web Analytics"
        referrerPolicy="no-referrer-when-downgrade"></a></div>
</noscript>
<!-- End of Statcounter Code -->